# dependencies
node_modules/

# expo
.expo/
dist/
web-build/
expo-env.d.ts

# native secrets & artifacts
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# local env
.env
.env*.local

# typescript
*.tsbuildinfo

# IDE & OS
.idea/
.vscode/
.DS_Store

# certs
*.pem

# typescript
*.tsbuildinfo


